<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

@*<script type="text/javascript">
    var token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6IjkwMDAwMTg5MDciLCJkb21haW5Db2RlIjoiZGduNSIsImNvbXBhbnlEb21haW5Db2RlIjoiZGduNSIsImxvZ2luVXNlciI6IjkwMDAwMTg5MDciLCJVc2VyTG9nT25JZCI6IjkwMDAwMTg5MDciLCJQYXNzd29yZCI6IiIsIklzRmlyc3RUaW1lTG9nT24iOiIiLCJVc2VyTGFuZ3VhZ2UiOiIxIiwiVXNlclRpbWVab25lIjoiIiwiTG9nT25JZCI6IjEwIiwiVXNlck5hbWUiOiJhZG1pbiB1c2VyIiwiQ2xpZW50QmFzZVBhdGgiOiJodHRwczovL2hyb25lZGV2LmF6dXJld2Vic2l0ZXMubmV0IiwiQ2hhdEFwcElkIjoiODc3MGJiNTg3YjlkYTQiLCJHYXRld2F5Q3VzdG9tZXJDb2RlIjoiY3VzX0ZrNXZwZm8xdXJpTHhMIiwiVWlkIjoiNTAiLCJMb2dPblR5cGUiOiIxIiwiSXNBdXRoZW50aWNhdGUiOiJUcnVlIiwiTWVzc2FnZSI6IiIsIkRvbWFpbkNvZGUiOiJkZ241IiwiQ29tcGFueURvbWFpbkNvZGUiOiJkZ241IiwiaXNzIjoiaHR0cHM6Ly9ocm9uZWRldi1hdXRoZW50aWNhdGlvbi5henVyZXdlYnNpdGVzLm5ldCIsImF1ZCI6IjA5OTE1M2MyNjI1MTQ5YmM4ZWNiM2U4NWUwM2Y1NjIzIiwiZXhwIjoxNTcwMTk4NTMyLCJuYmYiOjE1NzAxNjk3MzJ9.8m4t_pzj03bYN6pNkOg9utrSslThKEX58buQ_XRb8-0";
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function (d, m) {
        
        var kommunicateSettings = {
            "appId": "",
            "popupWidget": true,
            "automaticChatOpenOnNavigation": true,
            "attachment": false,
            "onInit": function () {
                var chatContext = {
                    "Authorization": token,
                };
                Kommunicate.updateSettings({ "KM_CHAT_CONTEXT": chatContext });
            },
        };
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>*@
